<mat-form-field appearance="fill" class="create-product">
    <mat-label>Name</mat-label>
    <input matInput #txtName>
  </mat-form-field>
  <mat-form-field appearance="fill" class="create-product">
    <mat-label>Stock</mat-label>
    <input matInput value="0" type="number" min="0" #txtStock>
  </mat-form-field>
  <mat-form-field appearance="fill" class="create-product">
    <mat-label>Price</mat-label>
    <input matInput value="0" type="number" min="0" #txtPrice>
  </mat-form-field>
  <button mat-raised-button class="btn" color="accent" (click)="create(txtName,txtStock,txtPrice)">Create</button>
<!--   
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->